<!------ Include the above in your HEAD tag ---------->

<form class="form-horizontal" #bookForm='ngForm' (submit)='OnFormSubmit(bookForm)'>
  <fieldset>
    <div id="legend">
      <legend class="">BookStore</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label" for="title">Title</label>
      <div class="controls">
        <input type="text" id="title" minlength="3" [(ngModel)]='bookStote.title' #title='ngModel' maxlength="50"
          required name="title" placeholder="" class="input-xlarge">
        <!-- <p class="help-block">Username can contain any letters or numbers, without spaces</p> -->
      </div>
      <span *ngIf="(title.invalid && title.touched)" class="danger">
        <span *ngIf="!title.errors?.required && title.errors?.minlength">
          title should be minimum {{title.errors?.minlength.requiredLength}} characters.
        </span>
        <span *ngIf="!title.errors?.required && title.errors?.manlength">
          title should be maximum {{title.errors?.maxlegnth.requiredLength}} characters.
        </span>
        <span *ngIf="title.errors?.required">
          title is required.
        </span>
      </span>
    </div>

    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="author">Author</label>
      <div class="controls">
        <input type="text" id="author" name="author" #author='ngModel' [(ngModel)]='bookStote.author' required
          minlength="3" maxlength="15" placeholder="" class="input-xlarge">
        <!-- <p class="help-block">Please provide your E-mail</p> -->
      </div>
      <span *ngIf="author.invalid && author.touched" class="danger">
        <span *ngIf="!author.errors?.required && author.errors?.minlength">
          author should be minimum {{author.errors?.minlength.requiredLength}} characters.
        </span>
        <span *ngIf="!author.errors?.required && author.errors?.manlength">
          author should be maximum {{author.errors?.maxlegnth.requiredLength}} characters.
        </span>
        <span *ngIf="author.errors?.required">
          author is required.
        </span>
      </span>
    </div>

    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="website">Website</label>
      <div class="controls">
        <input type="text" id="website" name="website" #website='ngModel' [(ngModel)]='bookStote.website' minlength="3"
          maxlength="20" required placeholder="" class="input-xlarge">
        <!-- <p class="help-block">Password should be at least 4 characters</p> -->
      </div>
      <span *ngIf="website.invalid && website.touched" class="danger">
        <span *ngIf="!website.errors?.required && website.errors?.minlength">
          website should be minimum {{website.errors?.minlength.requiredLength}} characters.
        </span>
        <span *ngIf="!website.errors?.required && website.errors?.manlength">
          website should be maximum {{website.errors?.maxlegnth.requiredLength}} characters.
        </span>
        <span *ngIf="website.errors?.required">
          website is required.
        </span>
      </span>
    </div>
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <span>
          <button class="btn btn-danger" (click)='reset()'>Reset</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <span>
          <button class="btn btn-success">Add Book</button>
        </span>
      </div>
    </div>

  </fieldset>
  <table class="table" *ngIf="final && final.length">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Website</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let obj of final;let i =index'>
        <th scope="row">{{i+1}}</th>
        <td>{{ obj.title }}</td>
        <td>{{ obj.author }}</td>
        <td>{{ obj.website}}</td>
      </tr>
    </tbody>
  </table>
</form>